<%- include('../shared/includes/all/head-all', {
	extraSvgIncludes: [
		'../svg/icons/bootstrap-icons/bi-house',
		'../svg/icons/bootstrap-icons/bi-gear',
		'../svg/icons/bootstrap-icons/bi-credit-card',
		'../svg/icons/bootstrap-icons/bi-box-arrow-left',
	],
}) %>
<%- include('includes/shared/header-visitor') %>

<%
/* Få fat i nuværende url og tag den sidste dele efter sidste forward-slash (/) */
const currentPathClean = locals.currentPath.match(/[^\/]+$/);
/* hvis ovenstående findes så lav første bogstav stort */
const currentPathCleanCapitalized = currentPathClean ? currentPathClean[0].charAt(0).toUpperCase()+currentPathClean[0].slice(1) : '';
/* indsæt det som en standard-værdi i h1 som bruges når der ikke er sat en custom værdi */
%>
<div class="containerLg container-lg">
	<section id="topSection" class="my-5">
		<div class="row justify-content-center pt-2 pt-lg-4">
			<div class="col-lg-8 mb-4">
				<h1 class="display-4 fw-bold"><%= locals.h1 ?? currentPathCleanCapitalized; %></h1>

				<p>Velkommen til MyPromptCloud! Ved at tilgå og bruge min tjeneste accepterer du at overholde følgende brugsbetingelser. Hvis du ikke accepterer disse betingelser, bedes du undlade at bruge tjenesten.</p>
	
				<h2 class="mt-4">1. Generelle Vilkår</h2>
				<p>Disse brugsbetingelser gælder for din brug af MyPromptCloud-websiden og -tjenester. Ved at bruge mine tjenester accepterer du at være bundet af disse betingelser.</p>
	
				<h2 class="mt-4">2. Brug af Tjenesten</h2>
				<p>Du må kun bruge MyPromptCloud til lovlige formål og i overensstemmelse med gældende love og regler. Du forpligter dig til ikke at bruge tjenesten til at overføre, distribuere eller opbevare ulovligt materiale eller til at engagere dig i aktiviteter, der krænker andres rettigheder.</p>
	
				<h2 class="mt-4">3. Kontooplysninger</h2>
				<p>Du er ansvarlig for at opretholde fortroligheden af dine loginoplysninger og for alle aktiviteter, der finder sted under din konto. Du accepterer at underrette mig omgående om enhver uautoriseret brug af din konto.</p>
	
				<h2 class="mt-4">4. Immaterielle Rettigheder</h2>
				<p>Alle immaterielle rettigheder til indhold og tjenester leveret af MyPromptCloud tilhører mig eller mine licensgivere. Du må ikke kopiere, ændre, distribuere eller på anden måde bruge sådanne rettigheder uden udtrykkelig tilladelse.</p>
	
				<h2 class="mt-4">5. Ansvarsfraskrivelse</h2>
				<p>MyPromptCloud leveres "som den er" uden nogen former for garantier, hverken udtrykte eller underforståede. Jeg fraskriver mig ethvert ansvar for tab eller skader, der måtte opstå som følge af brugen af tjenesten.</p>
	
				<h2 class="mt-4">6. Begrænsninger vedrørende Adgangskode og Kontoændringer</h2>
				<p>På nuværende tidspunkt er der ikke en "glemt adgangskode"-funktion, som kan sende din adgangskode til din email, hvis du glemmer den. Hvis du har glemt din adgangskode, kan du kontakte MyPromptCloud via kontaktformularen på <a href="https://dgrind.dev/kontakt/">dgrind.dev/kontakt</a>. Ved sådan en henvendelse bedes du informere om den email, du har brugt til at oprette dig på MyPromptCloud, og give en beskrivelse af nogle af de prompts, du har på din konto. Jeg vil manuelt gennemgå dette for at vurdere, hvor sandsynligt det er, at du er ejeren af kontoen. Uanset hvor detaljeret din beskrivelse er, kan det dog ikke garanteres, at jeg kan bekræfte, om du er ejeren, og jeg forbeholder mig retten til ikke at udlevere noget. Selv hvis det bekræftes, at du er ejeren, kan det ikke garanteres, at jeg kan ændre din adgangskode, da denne er krypteret, og det er ikke sikkert, det kan lade sig gøre at ændre den. Det vil måske være muligt at eksportere dine prompts, hvis du ønsker det, og eventuelt overføre dem til en ny konto, men dette kan heller ikke garanteres.</p>
	
				<p>Der er heller ikke en "skift adgangskode"-funktion eller en "skift email"-funktion tilgængelig på nuværende tidspunkt. Du har ansvaret for at at tilmelde dig med den ønskede email og adgangskode og accepterer at det kan være nødvendigt at slette din konto hvis du mister din adgangskode, hvis din adgangskode ender i hænderne på andre eller hvis du mister adgangen til din email.</p>
	
				<h2 class="mt-4">7. Ændringer i Betingelserne</h2>
				<p>Jeg forbeholder mig retten til at ændre disse brugsbetingelser til enhver tid. Enhver ændring vil blive meddelt på mail, og din fortsatte brug af tjenesten vil blive betragtet som accept af de ændrede betingelser.</p>
	
				<h2 class="mt-4">8. Kontaktinformation</h2>
				<p>Hvis du har spørgsmål til disse brugsbetingelser, bedes du kontakte mig via kontaktformularen på <a href="https://dgrind.dev/kontakt/">dgrind.dev/kontakt</a></p>

				<%
					const today = new Date();
					const year = today.getFullYear();
					const month = today.getMonth(); // 0-based index: January is 0, December is 11
				
					// Find the previous month and adjust year if necessary
					const lastMonthDate = new Date(year, month - 1, 25);
					const options = { year: 'numeric', month: 'long', day: 'numeric' }; // Include day in the format
					const formattedDate = lastMonthDate.toLocaleDateString('da-DK', options);
				%>
				
				<p class="mt-4">Sidst opdateret: <%= formattedDate %></p>
			</div>
		</div>
	</section>
</div>

<%- include('includes/shared/footer-visitor') %>
<%- include('../shared/includes/all/foot-all') %>